.main {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-around;
  align-items: stretch;
}

.leftSide {
  width: 25%;
  max-width:300px;
  flex: 0 0 300px;
  margin: .5%;
  background-color: azure;
}

.rightSide {
  max-width:850px;
  width: 75%;
  flex: 0 0 850px;
  margin: .5%;
  background-color: beige;
}